<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%= stylesheet_link_tag 'newForm', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="topSection">
      <%= link_to '&larr;'.html_safe, user_group_movements_path(:user_id => current_user.id, :group_id => params[:group_id]), class: "btn" %>
      <h2 class="sectionName">NEW TRANSACTION</h2>
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "signOutButton" %>
      <% end %>
    </div>

    <turbo-frame id="flash_messages">
      <%= render 'shared/flash_messages' %>
    </turbo-frame>

    <div class="container">
        <%= form_with model: @movement, url: user_group_movements_path(:user_id => current_user.id, :group_id => params[:group_id]) do |form| %>
          <h2>Create New Transaction</h2>

          <div class="field">
            <%= form.text_field :name, placeholder: "Name", autofocus: true, class: 'formFields' %>
          </div>

          <div class="field">
            <%= form.text_field :amount, placeholder: "amount", type: :number, step: "any", class: 'formFields' %>
          </div>

          <div class="field">
            <%= form.select :group_id, options_for_select([["Select a Category", nil]] + @groups), {}, { placeholder: "Select a Category" } %>
          </div>

          <%= form.submit 'Save', class: "submitBtn" %>
        <% end %>

        <br />
      </div>

  </body>
</html>
