<h1>Group index</h1>

<% @groups.each do |group| %>
<a href="<%= user_group_movements_path(:user_id => current_user.id, :group_id => group.id) %>">
  <div>
    <h3><%= group.name %></h3>
    <img src="<%= asset_path("#{group.icon}") %>" alt="Icon" width="60px">
    <p>$ <%= sprintf('%.2f', group.total_amount()) %></p>
  </div>
</a>

<% end %>

<%= button_to "add a new category", new_user_group_path(:user_id => current_user.id), :method => :get %>

<% if user_signed_in? %>
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>