<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%= stylesheet_link_tag 'userForms', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="topSection">
      <%= link_to '&larr;'.html_safe, root_path, class: 'backButton' %>
      <h2 class="sectionName">LOGIN</h2>
      <%= link_to "Sign up", new_user_registration_path, class: "logInBtn" %>
    </div>

    <div class="formContainer">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, class:'formFields', autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>
        <hr>
        <div class="field">
          <%= f.password_field :password, class:'formFields', autocomplete: "current-password", placeholder: "Password" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "submitBtn" %>
        </div>
      <% end %>
    </div>

    <%= link_to "Forgot your password?", new_user_password_path, class:"forgotLink" %>
  </body>
</html>
