<!DOCTYPE html>
<html>
  <head>
    <title>PocketPlannerBudgetOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Strait&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <!-- Flash Notice -->
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <!-- Flash Alert -->
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
